* {
  margin: 0px;
}

.window {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(backgroundimage.jpg);
  background-position: center;
  background-size: cover;
}

.first {
  align-items: center;
  color: white;
  text-align: center;
}

.first h1 {
  font-size: 100px;
  padding-top: 100px;
}

.header {
  position: fixed;
  width: 100vw;
  height: 15vh;
  display: flex;
}

.icon1 {
  padding: 10px;
  position: fixed;
  right: 0;
  width: 15px;
  height: 15px;
  flex-basis: 10%;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
}

.icon1 img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 700px) {
  .window {
    min-width: 700px;
    width: 700px;
  }
}
