* {
  margin: 0px;
}

.window {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(backgroundimage.jpg);
  background-position: center;
  background-size: cover;
}

.first {
  align-items: center;
  color: white;
  text-align: center;
}

.first h1 {
  font-size: 120px;
}

.header {
  display: flex;
  width: 100%;
  height: 10%;
  background: transparent;
  position: relative;
  justify-content: space-around;
}

.icon1 {
  position: absolute;
  right: 10%;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  z-index: 2;
  margin: 15px auto;
}

.icon-img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon2 {
  position: absolute;
  right: 5%;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  z-index: 2;
  margin: 15px auto;
}

a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

@media only screen and (max-height: 900px) {
  .info {
    top: 100px;
  }
}

@media only screen and (max-height: 600px) {
  .info {
    top: 0;
  }
}

.info {
  position: relative;
  width: 100%;
  background: transparent;
  display: flex;
}

.game_name {
  flex-basis: 40%;
  margin: 5%;
  margin-left: 10%;
  justify-content: space-between;
}

.first-line {
  font-family: "Just Another Hand", cursive;
  font-size: 100px;
  font-weight: 50px;
  text-align: left;
  color: white;
}

.second-line {
  position: relative;
  font-family: "Just Another Hand", cursive;
  font-size: 100px;
  font-weight: 50px;
  left: 250px;
  color: rgb(250, 246, 1);
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 120px;
  flex-basis: 50%;
}

.options {
  display: flex;
}

.description h2 {
  margin-left: 50px;
  font-family: "Staatliches", cursive;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.description h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

.details {
  position: relative;
  box-sizing: border-box;
  top: 40px;
  width: 60%;
  margin: 10px;
  left: 40px;
}

.details p {
  text-indent: 50px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: white;
}

.play {
  position: relative;
  width: 100%;
  height: 2%;
  text-align: center;
}

/* @media screen and(max-height:900px) {
  .play {
    background: white;
  }
}

@media screen and(max-height:600px) {
  .play {
    background: black;
  }
} */

@media only screen and (max-height: 900px) {
  .play {
    top: 100px;
  }
}

@media only screen and (max-height: 600px) {
  .play {
    top: 0;
  }
}

/* @media only screen and (max-width: 600px) {
  .play {
    top: 100px;
  }
} */

.playbtn {
  width: 150px;
  height: 50px;
  background: rgb(250, 246, 1);
  box-shadow: 3px 3px rgb(250, 246, 1);
}

.playbtn h2 {
  font-family: "Staatliches", cursive;
  font-size: 30px;
  color: rgba(4, 9, 30, 0.7);
}
