* {
  margin: 0px;
}

.window {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(backgroundimage.jpg);
  background-position: center;
  background-size: cover;
}

.first {
  align-items: center;
  color: white;
  text-align: center;
}

.first h1 {
  font-size: 120px;
}

.header {
  display: flex;
  width: 100%;
  height: 10%;
  background: transparent;
  position: relative;
  justify-content: space-around;
}

.icon1 {
  position: absolute;
  right: 10%;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  z-index: 2;
  margin: 15px auto;
}

.icon-img {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.icon2 {
  position: absolute;
  right: 5%;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  z-index: 2;
  margin: 15px auto;
}

a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

a:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

.info {
  position: relative;
  top: 10%;
  width: 100%;
  background: transparent;
  display: flex;
}

.game_name {
  flex-basis: 40%;
  margin-top: 100px;
  margin-left: 200px;
}

.first-line {
  font-family: "Just Another Hand", cursive;
  font-size: 100px;
  font-weight: 50px;
  text-align: left;
  color: white;
}

.second-line {
  position: relative;
  font-family: "Just Another Hand", cursive;
  font-size: 100px;
  font-weight: 50px;
  left: 250px;
  color: rgb(250, 246, 1);
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 120px;
  flex-basis: 50%;
}

.options {
  display: flex;
}

.description h2 {
  margin-left: 70px;
  font-family: "Staatliches", cursive;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.description h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
}

.details {
  position: relative;
  box-sizing: border-box;
  top: 40px;
  width: 65%;
  margin: 10px;
  left: 40px;
}

.details p {
  text-indent: 50px;
  font-family: "Merriweather", serif;
  font-size: 20px;
  color: white;
}

.play {
  position: relative;
  top: 200px;
  width: 100%;
  height: 50px;
  text-align: center;
}

.playbtn {
  width: 150px;
  height: 50px;
  background: rgb(250, 246, 1);
  box-shadow: 1px 2px black;
}

.playbtn h2 {
  font-family: "Staatliches", cursive;
  font-size: 30px;
  color: rgba(4, 9, 30, 0.7);
}

@media only screen and (max-height: 800px) {
  .info {
    top: 0%;
  }
  .first-line {
    font-size: 90px;
  }
  .second-line {
    left: 100px;
    font-size: 90px;
  }
  .play {
    top: 50px;
  }
  .game_name {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 900px) and (min-height: 700px) {
  .info {
    top: 50px;
  }
  .first-line {
    font-size: 60px;
  }
  .second-line {
    left: 100px;
    font-size: 60px;
  }
  .play {
    top: 300px;
  }
  .game_name {
    margin-left: 100px;
  }
  .description h2 {
    font-size: 25px;
  }

  .icon1 {
    width: 40px;
    height: 40px;
  }
  .icon-img {
    width: 40px;
    height: 40px;
  }
  .icon2 {
    width: 40px;
    height: 40px;
  }
}
