{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width height=device-height">
    <link href="{%static 'drawapp/style1.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{%static 'drawapp/icon.ico' %}"/>
    <title>Welcome</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Merriweather:wght@300&family=Staatliches&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Kavivanar&family=Roboto:wght@100&family=Shadows+Into+Light&family=Sunshiney&display=swap"
        rel="stylesheet">
    <title></title>
</head>

<body>
    <section class="window">
        <div class="header">
            <div class="icon1">
                <a href="https://github.com/Ashishkumaraswamy/doodledraw"><img src="{%static 'drawapp/github.png' %}"
                        alt="" class="icon-img" ></a>
            </div>
            <div class="icon2">
                <a href="https://socialnetworkatwork.herokuapp.com/"><img src="{%static 'drawapp/logoicon.ico' %}"
                        alt="" class="icon-img" style="border: px solid black;"></a>
            </div>
        </div>
        <div class="info">
            <div class="game_name">
                <h1 class=first-line>DOODLE DRAW</h1><br>
            </div>
            <div class="description">
                <div class="options">
                    <h2 id="home">Home</h2>
                    <h2 id="desc">Description<h2 id="about">About us</h2>
                </div>
                <div class="details" id="details">
                    <p>Welcome To the new world of AI...The game guesses the iamge that you draw and awards points
                        simultaneously for correct responses</p>
                </div>
            </div>
        </div>
        <div class="play">
            <button class="playbtn" id="playbtn">
                <h2>Let's Play</h2>
            </button>
        </div>
    </section>
    </section>
</body>
<script>
    var height = window.innerHeight;
    var width = window.innerWidth;
    document.getElementById("desc").onclick = () => {
        document.getElementById("details").innerHTML = "<p>The game rules is easy.You have 40 seconds to draw your doodle for the given category,we use the neural network model to guess yours doodles.You have 6 rounds to complete the game.<br>ALL THE BEST!!</p>"
    }
    document.getElementById("about").onclick = () => {
        document.getElementById("details").innerHTML = "<p>This game is a replica of Google's Quick Draw.We the creaters of <b>socialnetwork</b> teamed up together again to build this game.This was fun project hope you guys enjoy it!!<br>From the Team<br>Ashish & Mathan.❤</p>"
    }
    document.getElementById("home").onclick = () => {
        document.getElementById("details").innerHTML = "<p>Welcome To the new world of AI...The game guesses the iamge that you draw and awards points simultaneously for correct responses</p>"
    }
    document.getElementById("playbtn").onclick = () => {
        console.log('click')
        location.href = "{%url 'question' %}"
    }
    localStorage.setItem("score",0);
</script>
</html>