{%load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="{%static 'drawapp/mainpage.css' %}" rel="stylesheet" >
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Game</title>
    </head>
    <body>
        
        <div class="body_item">
            <canvas id="canvas" resize="true">
                
            </canvas>
        </div>
<!-- 
        try commenting this run that da -->
        <div class="header_item">
            <h1 id="question">DRAW:</h1>
            <div class="timer"> 
                <h1>00:00</h1>
            </div>
            <div class="icon">
                <i class="fa fa-pause"></i>
                <i class="fa fa-close" style="font-size:25px"></i>
            </div>
        </div>       
        <div class="text_item"></div>
    
   
    </body>
    <script>
    const canvas = document.querySelector('#canvas');
    canvas.setAttribute('width', canvas.parentNode.offsetWidth);
    canvas.setAttribute('height', canvas.parentNode.offsetHeight);
    var ctx = canvas.getContext('2d');
    resize();

    // last known position
    var pos = { x: 0, y: 0 };

    window.addEventListener('resize', resize);
    document.addEventListener('mousemove', draw);
    document.addEventListener('mousedown', setPosition);
    document.addEventListener('mouseenter', setPosition);

    // new position from mouse event
    function setPosition(e) {
    pos.x = e.clientX;
    pos.y = e.clientY;
    }

    // resize canvas
    function resize() {
    ctx.canvas.width = window.innerWidth;
    ctx.canvas.height = window.innerHeight;
    }

    function draw(e) {
    // mouse left button must be pressed
    if (e.buttons !== 1) return;

    ctx.beginPath(); // begin

    ctx.lineWidth = 9;
    ctx.lineCap = 'round';
    ctx.strokeStyle = "black";

    ctx.moveTo(pos.x, pos.y); // from
    setPosition(e);
    ctx.lineTo(pos.x, pos.y); // to
    ctx.stroke(); // draw it!
    }
    

    </script>
</html>